/*goldBox_480.css*/



@media screen and (max-width: 480px) { 

#detail_goldBox {width:100%; 
                  height:541.6666666666667vw;/*2600/480*/
                  min-height:87.5rem;
                  background-image:url("../../../../img/detail/detail_bg_tab_02.png");
                  background-repeat:repeat;
                  background-position:right center;
                  background-size:cover;}

/*text*/
.gold_text {width:100%; 
             height:auto;
             padding-top:50%;}

.gold_text > h2 { width:100%; 
                   height:auto;
                   text-align:center;
                   font-size:2.3rem; 
                   color:#6d3900;
                   margin-bottom:2rem;
                   font-style:italic;}

.gold_text > h3 { width:100%; 
                   height:auto;
                   text-align:center;
                   font-size:0.9rem; 
                   color:#6d3900;
                   margin-bottom:20%;}



/*content*/
.gold_content_wrap{width:60%;
                    min-width:13.75rem;
                    height:80%; 
                    margin:auto;}

.gold_content {width:100%; 
                height:100%;}


.gold_content > li { float:left;
                      width:100%;
                      height:18%;
                      margin-bottom:40%;}

.royal_content > li:nth-child(2n){margin-right:0;}



.gold_content > li .img {width:100%; 
                          height:80%; 
                          transition: all 700ms ease;
                          background-repeat:no-repeat;
                          background-position: center;
                          background-size:70%;}

.gold_content > li  p {width:100%; 
                        height:9%;
                        font-size:1.2rem;
                        font-style: italic;
                        font-weight: bold;
                        text-align: center;
                        color:#6d3900;}

}