/*goldBox_1920.css*/


@media screen and (min-width: 1367px) {


#detail_goldBox {width:100%; 
                  height:85vw; /*1500/1920*/}

/*text*/
.gold_text {width:100%; 
             height:auto;
             padding-top:8%;}

.gold_text > h2 { width:100%; 
                   height:auto;
                   text-align:center;
                   font-size:3rem; 
                   color:#6d3900;
                   margin-bottom:2rem;
                   font-style:italic;}

.gold_text > h3 { width:100%; 
                   height:auto;
                   text-align:center;
                   font-size:1rem; 
                   color:#6d3900;
                   margin-bottom:8%;}



/*content*/
.gold_content_wrap{width:56%; 
                    height:55%; 
                    margin:auto;}

.gold_content {width:100%; 
                height:100%; }


.gold_content > li {float:left;
                     width:27.4%;
                     height:45%;
                     margin:0 8% 7% 0;}

.gold_content > li:nth-child(3n){margin-right:0;}


.gold_content > li  .img {width:100%; 
                           height:80%; 
                           transition: all 700ms ease;
                           background-repeat:no-repeat;
                           background-position: center;
                           background-size:70%;}

.gold_content > li  p {width:100%; 
                        height:9%;
                        font-size:1.3rem;
                        font-style: italic;
                        font-weight: bold;
                        text-align: center;
                        color:#6d3900;}


 }

