/*godiva_headBox_480.css*/

@media screen and (max-width: 480px) { 

.headBox_wrap { position:absolute;
              z-index:500;
                width:100%; height:6rem;}

#headBox {position:relative;
          width:85%; 
          height:100%; 
          margin:auto;}

h1 {position:absolute;
    top:0;
    left:50%;
    width:8rem;
    margin-left:-3.5rem;
    height:100%;}




/*unb*/
#unb{display:none;}

}