/*chefBox_768.css*/

@media screen and (min-width: 481px) and (max-width: 950px) { 

#chefBox{position:relative;
	     width:100%;
         height:390vw;/*3700/950*/
         min-height:175rem; /*2800*/}


/*text*/
.chef_text{margin:12% 0 10%;}

.chef_text > h2 {font-size:3rem;}
.chef_text > h3 {font-size:1.6rem;}
.chef_text > p {font-size:0.9rem;}


/*content*/
/*content text*/
.chef_content{margin:auto;
              width:90%; 
              height:330vw;}

.content_text{width:100%; height:auto; text-align:center;}

.chef_content h4 {font-size:1.5rem;}
.chef_content h5 {font-size:1rem;}
.chef_content p {font-size:0.8rem;}


.icon {width:100%; 
       height:14vw; 
       background-repeat: no-repeat;
       background-size:12%;
       padding-bottom:10%;}


.content {width:100%; 
          height:80vw; /*760/950*/
          min-height:36rem;/*570*/
         }

.lef{margin:auto;
	 width:46%; 
     height:28vw; 
     margin-bottom:5%;}

.icon_05{width:22%; height:4%;}

}