/*chefBox_1366.css*/

@media screen and (min-width: 951px) and (max-width: 1367px) { 

#chefBox{position:relative;
	     width:100%; 
         height:230vw;/*3200/1366*/
         min-height:185rem; /*2900*/}


/*title text*/
.chef_text{margin:12% 0 8%;}

.chef_text > h2 {font-size:3rem;}
.chef_text > h3 {font-size:1.6rem;}
.chef_text > p {font-size:0.9rem;}


/*content*/
/*content text*/
.chef_content{margin:auto;
              width:80%; 
              height:190vw;
              min-height:150rem;}

.content_text{padding-top:20%;}

.chef_content h4 {font-size:1.6rem;}
.chef_content h5 {font-size:1.2rem;}
.chef_content p {font-size:0.85rem;}


.icon {width:100%; 
       height:10vw; 
       background-repeat: no-repeat;
       background-size:11%;
       padding-bottom:10%;}


.content {width:100%; 
          height:45vw;
         min-height:37.5rem;}


.lef{width:36%; 
     height:20vw; /*800/1920*/
     margin:0 5%;
     margin-bottom:25%;}


/*//content_01//*/
.content_01_rig{float:left;}
.content_01_lef {float:left;}


/*//content_02//*/
.content_02_rig {float:right;}
.content_02_text{width:100%;text-align:right;}
.content_02_lef {float:right;}

/*//content_03//*/
.content_03_rig{float:left;}
.content_03_lef {float:left;}


/*//content_04//*/
.content_04_rig {float:right;}
.content_04_text{width:100%;text-align:right;}
.content_04_lef {float:right;}

.icon_05{width:18%; height:5%;}

}