/*godiva_login_all.css*/

.log_wrap{margin:auto; 
         width:100%; 
         height:auto;}


.login_img {margin:2% auto 0; 
            width:25rem; 
            height:20rem;
            background-size:100%;
            background-repeat:no-repeat;
            background-position: center;
            background-image:url("../../../../img/login/login_logo.png");}


form{margin:auto; 
     width:28.125rem; 
     height:50%;}

fieldset {position:relative; 
          margin:0; 
          padding:0; 
          border:0;  
          width:100%; 
          height:28.125rem; 
          background-color:rgba(255,255,255,0.5);}

legend{width:23.75rem; 
       height:3.75rem; 
       text-align:center; 
       font-size:1.5rem; 
       color:#fff;}

 
.inform {margin:auto; 
         width:23.75rem; 
         height:60px; 
         font-size:1rem; 
         color:#fff; 
         border:0;
         margin-bottom:20px;}

#idName {width:23.75rem; height:3.75rem;}
#pwName{width:23.75rem; height:3.75rem;}

#login{position:absolute; 
       left:8%; 
       width:23.75rem; 
       height:3.75rem; 
       margin:auto; 
       color:#fff;
       background-color:#6d3900; 
       font-size:1rem;}