/*contentBox_768.css*/

@media screen and (min-width: 481px) and (max-width: 768px) {

#contentBox{width:100%;
            height:481.7708333333333vw; /*3700/768*/
            min-height:170rem;}

.content_wrap {margin:auto;
               width:80%;
               height:100%; 
               box-sizing: border-box;
               padding-top:13%;}

.content_wrap > ul {width:100%; height:100%;}

.content_wrap li {width:100%; height:33.3333%;}

.content_btn {margin:auto;}

/*img*/
.content_img {width:100%; 
              height:50%; 
              background-repeat:no-repeat;
              background-size: 80%;
              background-position: center;}

.content_text {width:100%; 
               height:50%;}

.lady_img {background-image:url("../../../../img/content/lady_godiva.png");
           background-size:70%;}
.choco_img{background-image:url("../../../../img/content/content_img_02.png");}
.pro_img {background-image:url("../../../../img/content/content_img_03.png");}



/*dl*/
.content_wrap dl {width:auto; 
                  height:auto;
                  text-align:center;}

.content_wrap dt { width:auto;
                   height:auto;
                  font-size:3rem;
                  font-style: italic;
                  font-weight: bold;
                  margin-bottom:2rem;
                  color:#6d3900;
                  }


.content_wrap dd { width:auto;
                   height:auto;
                   color:#6d3900;
                   line-height: 1.8rem;
                   margin-bottom:2.5rem;}


/*btn*/


.contentBtn {display: block; margin:auto;}


.mob{display: none;}
 }


 @media screen and (min-width: 481px) and (max-width: 570px) {



.content_wrap dt {font-size:2.8rem;}


.content_wrap dd {font-size:0.9rem;
                   line-height: 1.6rem;}


/*btn*/

 }