/*royalBox_1366.css*/ 


@media screen and (min-width: 769px) and (max-width: 1367px) { 


#detail_royalBox {width:100%; 
                  height:85vw; /*1500/1920*/
                  min-height:70rem;/*1150*/
                  /*background-image:url("../../../../img/detail/detail_bg.png");
                  background-repeat:no-repeat;
                  background-position: center;
                  background-size:cover;*/}

/*text*/
.royal_text {width:100%; 
             height:auto;
             padding-top:8%;}

.royal_text > h2 { width:100%; 
                   height:auto;
                   text-align:center;
                   font-size:2.5rem; 
                   color:#6d3900;
                   margin-bottom:2rem;
                   font-style:italic;}

.royal_text > h3 { width:100%; 
                   height:auto;
                   text-align:center;
                   font-size:0.9rem; 
                   color:#6d3900;
                   margin-bottom:8%;}



/*content*/
.royal_content_wrap{width:56%; 
                    min-width:43.75rem;
                    height:55%; 
                    margin:auto;}

.royal_content {width:100%; 
                height:100%; }


.royal_content > li { float:left;
                      width:27.6%;
                      height:45%;
                      margin:0 8% 8% 0;}

.royal_content > li:nth-child(3n){margin-right:0;}



.royal_content > li .img {width:100%; 
                          height:80%; 
                          transition: all 700ms ease;
                          background-repeat:no-repeat;
                          background-position: center;
                          background-size:70%;}

.royal_content > li  p {width:100%; 
                        height:9%;
                        font-size:1rem;
                        font-style:italic;
                        font-weight:bold;
                        text-align:center;
                        color:#6d3900;}

}