/*royalBox_all.css*/





/*btn*/

.buy_btn {width:100%; 
         height:11%;
         font-size:1.4rem;
         font-style: italic;
         font-weight:; bold;
         text-align:center;
         color:#eee; 
         opacity:0;}

#buyBtn{color:#eee;
        transition: all 700ms ease;}




/*img*/
.img_01 {background-image:url("../../../../img/detail/royal/royal_01.png");}
.img_02 {background-image:url("../../../../img/detail/royal/royal_02.png");}
.img_03 {background-image:url("../../../../img/detail/royal/royal_03.png");}
.img_04 {background-image:url("../../../../img/detail/royal/royal_04.png");}
.img_05 {background-image:url("../../../../img/detail/royal/royal_05.png");}
.img_06 {background-image:url("../../../../img/detail/royal/royal_06.png");}

                    

.royal_content > li .img:focus,
.royal_content > li .img:hover {transition: all 700ms ease;}

.royal_content > li:focus,
.royal_content > li:hover .buy_btn {transition: all 700ms ease;
                                    background-color:#4c2800;
                                    opacity:1;}

.royal_content > li:focus,
.royal_content > li:hover {box-sizing: border-box;
                           border:1px solid #4c2800;}



.img_01:focus,
.img_01:hover {background-image:url("../../../../img/detail/royal/royal_01_hover.png");}

.img_02:focus,
.img_02:hover {background-image:url("../../../../img/detail/royal/royal_02_hover.png");}

.img_03:focus,
.img_03:hover {background-image:url("../../../../img/detail/royal/royal_03_hover.png");}

.img_04:focus,
.img_04:hover {background-image:url("../../../../img/detail/royal/royal_04_hover.png");}

.img_05:focus,
.img_05:hover {background-image:url("../../../../img/detail/royal/royal_05_hover.png");}

.img_06:focus,
.img_06:hover {background-image:url("../../../../img/detail/royal/royal_06_hover.png");}

