/*adBox_1920.css*/
@media screen and (min-width: 1367px) { 

#adBox {position:relative;
        width:100%; 
        height:33.85416666666667vw; /*650/1920*/
        min-height: 31.25rem;/*500*/
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center top;
        background-image:url("../../../../img/chef/ad/chef_ad.png"); 
      }



}