/*productBox_480.css*/

@media screen and (max-width: 480px) { 

#productBox{margin:auto; 
            width:90%; 
            height:auto;}

#productBox > h2 {font-size:2rem;}


/*tab*/
.tab_box > ul {margin:auto;
               width:100%; 
               height:40px;}

.tab_box > ul > li {float:left;
                    box-sizing:border-box;  
                    width:33%; 
                    height:100%; 
                    text-align:center;
                    line-height:40px;
                    box-shadow:0 0.1rem 0 rgba(0,0,0,0.3);}



/*content*/
.content > h3 {font-size:1.6rem;
              margin:20% 0 5%;}

.content > h4{font-size:0.8rem;}


/*thum*/
.thum_wrap {height:9vw;
            min-height:3.5rem;
            margin:auto;}

.truffle_thum_wrap{width:70%;
                   min-width:15rem;}

.ganache_thum_wrap{width:70%;
                   min-width:15rem;}

.praline_thum_wrap{width:70%;
                   min-width:15rem;}

.caramel_thum_wrap{width:40%;
                   min-width:10rem;}

.white_thum_wrap{width:70%;
                 min-width:15rem;}

.thum {width:100%; height:100%;}

.thum > li {float:left; 
            height:100%;}

.truffle_thum > li {width:25%;}
.ganache_thum > li {width:25%;}
.praline_thum > li {width:25%;}
.caramel_thum > li {width:50%;}
.white_thum > li { width:25%; }

.thum > li > a  {display:block;
                 width:100%;
                 height:100%;}


/*big*/
.bigimg {width:9.375rem;
         height:9.375rem;
         margin:30% auto 3%;}

.truffle_bigimg{margin:55% auto 3%;}
.caramel_bigimg {margin:15% auto 3%;}

.bigimg_wrap {position: relative; width:200%; height: 100%;}
.bigimg_wrap>div{width:50%; 
                 height:100%; 
                 position:absolute; 
                 top:0; 
                 left:0;
                 background-repeat:no-repeat;
                 background-size:100%; 
                 background-position:center;}


.detail > p {font-size:0.8rem;}

/*btn*/
.btn {display:block; 
      background-color:#cc8844; 
      width:7rem; 
      height:2.5rem; 
      color:#fff;
      margin:8% auto 12%;}



}