/*godiva_headBox_768.css*/

@media screen and (min-width: 481px) and (max-width: 768px) { 



.headBox_wrap {width:100%; height:6rem;}

#headBox {position:relative;
          width:85%; 
          height:100%; 
          margin:auto;}

h1 {position:absolute;
    top:0;
    left:50%;
    width:8rem;
    margin-left:-4rem;
    height:100%;}


/*unb*/
#unb{display:none;}


}