/*carreBox_480.css*/ 


@media screen and (max-width: 480px) { 

#detail_carreBox {width:100%; 
                  height:720vw;/*3400/480*/
                  min-height:162.5rem;}

/*text*/
.carre_text {width:100%; 
             height:auto;
             padding-top:50%;}

.carre_text > h2 { width:100%; 
                   height:auto;
                   text-align:center;
                   font-size:2.3rem; 
                   color:#6d3900;
                   margin-bottom:2rem;
                   font-style:italic;}

.carre_text > h3 { width:100%; 
                   height:auto;
                   text-align:center;
                   font-size:0.9rem; 
                   color:#6d3900;
                   margin-bottom:15%;}



/*content*/
.carre_content_wrap{width:60%;
                    min-width:13.75rem;
                    height:80%; 
                    margin:auto;}

.carre_content {width:100%; 
                height:100%;}


.carre_content > li { float:left;
                      width:100%;
                      height:14%;
                      margin-bottom:40%;}

.carre_content > li:nth-child(2n){margin-right:0;}



.carre_content > li .img {width:100%; 
                          height:80%; 
                          transition: all 700ms ease;
                          background-repeat:no-repeat;
                          background-position: center;
                          background-size:70%;}

.carre_content > li  p {width:100%; 
                        height:9%;
                        font-size:1.2rem;
                        font-style: italic;
                        font-weight: bold;
                        text-align: center;
                        color:#6d3900;}

}