/*godiva_footBox_768.css*/

@media screen and (min-width: 481px) and (max-width: 1049px) {



.footBox_wrap {width:100%; 
               height:23rem; 
               background-color:#321a00; }

#footBox {margin:auto;
          width:80%; 
          height:inherit;
          box-sizing:border-box;
          padding-top:4rem;}

.foot_img{width:8rem; 
          height:5rem;
          background-size:100%;
          background-repeat:no-repeat;
          background-position: center;
          background-image:url("../../../../img/fooBox/foot_img.png");
          margin-bottom: 2rem;}

#footBox  p {width:auto;
             height:auto;
             color:#aaa;
             font-weight:lighter;
             font-size:0.75rem;
             word-break:keep-all;}



}