/*godiva_footBox_480.css*/

@media screen and (max-width: 480px) { 



.footBox_wrap {width:100%; 
               height:25rem; 
               background-color:#321a00; }

#footBox {margin:auto;
          width:90%; 
          height:inherit;
          box-sizing:border-box;
          padding-top:4rem;}

.foot_img{width:8rem; 
          height:5rem;
          background-size:100%;
          background-repeat:no-repeat;
          background-position: center;
          background-image:url("../../../../img/fooBox/foot_img.png");
          margin-bottom: 2rem;}

#footBox  p {width:auto;
             height:auto;
             color:#aaa;
             font-size:0.7rem;
             word-break:keep-all;}


}