/*godiva_footBox_1366.css*/

@media screen and (min-width: 769px) and (max-width: 1367px) {


.footBox_wrap {
                width:100%; 
                height:5rem; 
                background-color:#321a00; }

#footBox {width:100%; height:inherit;}
#footBox > p {width:auto;
              height:auto;
              color:#aaa;
              text-align:center;
              font-weight: lighter;
              padding-top:2rem;
              font-size:0.9rem;}


}