/*godiva_footBox_1366.css*/

@media screen and (min-width: 1050px) and (max-width: 1367px) {



.footBox_wrap {width:100%; 
               height:12rem; 
               background-color:#321a00; }

#footBox {margin:auto;
          width:90%; 
          height:inherit;
          box-sizing: border-box;
          padding:4rem;}

.foot_img{float:left;
          width:8rem; 
          height:5rem;
          background-size: 100%;
          background-repeat:no-repeat;
          background-position: center;
          background-image:url("../../../../img/fooBox/foot_img.png");}

#footBox  p {float:right;
             width:auto;
             height:auto;
             color:#aaa;
             font-size:0.7rem;}


}