/*adBox_768.css*/

@media screen and (min-width: 481px) and (max-width: 768px) { 

#adBox {position:relative;
        width:100%; 
        height:39.0625vw;  /*300/768*/
        min-height:17.5rem; /*280*/
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        background-image:url("../../../../img/history/ad/history_ad.png"); 
      }


}
