/*adBox_1366.css*/


@media screen and (min-width: 769px) and (max-width: 1367px) { 

#adBox {position:relative;
        width:100%; 
        height:36vw;  /*500/1366*/
        min-height:21.875rem;/*350*/
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        background-image:url("../../../../img/history/ad/history_ad.png"); 
      }



  }