/*loveBox_all.css*/




#loveBox{margin:auto;
         background-repeat: no-repeat;
         background-position:center;
         background-size:90%;
         background-attachment:fixed; }




/*btn*/ 
.love_btn {margin:auto;
           width:8.75rem;
           height:3.125rem; 
           background-color:rgb(255,255,255,0.3);
           transition: all 500ms linear;
           margin-bottom:2rem;
           text-align:center;
           line-height:3.125rem;
           border:1px solid #000;}

.love_btn:focus,
.love_btn:hover {background-color:#603913;
                 transition: all 500ms linear;}

.love_btn > a {display:block;
			   width:100%;
			   height:100%;
		       font-size:0.9rem;}

.love_btn:focus,
.love_btn:hover > a {color:#eee;}