/*loveBox_1366.css*/

@media screen and (min-width: 769px) and (max-width: 1367px) {


#loveBox{width:90%; height:42vw;
         background-image:url("../../../../img/love/love.png");}


/*text*/

.love_text {box-sizing: border-box;
            padding-top:5%; 
            position:relative;
            top:28%;
            left:50%;
            margin-left:-35%; 
            width:70%; height:20vw;
            min-height:11rem;

            background-color:rgba(255,255,255,0.7);}

.love_text > h2 {width:100%; 
                 height:auto;
                 text-align: center;
                 font-weight:lighter;
                 font-size:2rem;
                 margin-bottom: 2rem;}





}