/*storeBox_all.css*/


/*text*/

.store_text{width:auto; height:auto;}


.store_text  h2 {width:100%;
                 height: auto;
                 text-align: center;
                 font-weight:bold;
                 font-style: italic;
                 color:#6d3900;}


.store_text  p {width:100%;
                height: auto;
                text-align: center;
                color:#6d3900;}



/*btn*/

.store_btn {margin:auto;
            width:8.75rem;
            height:3.125rem;
            background-color:#fff;
            transition: all 500ms linear;
            margin-bottom:5rem;
            text-align:center;
            line-height:3.125rem;
            border:1px solid #000;}

.store_btn:focus,
.store_btn:hover {background-color:#603913;
                 font-size: 0.9rem;
                 transition: all 500ms linear;}


.store_btn > a { display: block;
	             width:100%;
	             height:100%;
                 font-size: 0.9rem; }

.store_btn:focus,
.store_btn:hover > a { color:#eee; }