/*iconic_480.css*/


@media screen and (max-width: 480px) { 


#iconicBox{width:100%; 
           height:370vw; /*1800/480*/ 
           margin:auto;
           margin-bottom:10%;}


.iconic_img {width:100%;
             height:240vw;
             min-height:43.75rem;}

.iconic_detail{padding-top:40%;
               width:auto;
               height:120vw;
               text-align:center;}


/*text*/

.iconic_text {width:auto;
              height:auto; 
              font-style:italic;
              font-weight:bold;
              color:#6d3900;}

.iconic_text > h2 {font-size:2.5rem;}
.iconic_text > h3 {font-size:2.5rem;}
.iconic_text > p {font-size:0.9rem;
                  font-style:normal;
                  margin-bottom:3rem;}


/*counter*/

.counter{margin:auto;
         width:60%;
         height:3rem;
         margin-bottom:1rem;}

.counter > p {width:80%; 
              height:2rem; 
              text-align:center; 
              font-size:1rem;
              border:2px solid #6d3900;
              border-radius:1.2rem;
              display:block;
              float:left;
              font-weight:bold;}

.counter > button{display:block; 
                  width:10%; 
                  height:1rem; 
                  margin-left:5%;
                  background-size:contain;
                  background-repeat:no-repeat;}

.counter > .up {float:right;
                margin-bottom:0.5rem;
                background-image: url("../../../../img/buy/up.png");}

.counter > .down {float:right;
                  background-image: url("../../../../img/buy/down.png");}


/*btn*/

.btn_wrap{margin:auto;
          width:60%; 
          height:auto;
          bottom:1rem;}

.btn_wrap  button{ display:block;
                   width:48%; 
                   height:2.5rem;
                   margin-bottom:3rem; 
                   transition:500ms all ease;
                   border:1px solid #6d3900;
                   background-color: #fff;
                   color:#6d3900;
                   font-weight:bold;}

.btn_wrap  button:focus,
.btn_wrap  button:hover{transition:500ms all ease;
                        background-color:#6d3900;
                        color:#fff;}
#buyBtn{float:left; margin-right:2%;}
#cartBtn{float:right;}



/*plus*/ 

.plus {display:none;
       width:60%; 
       height:auto;
       bottom:1rem;}

.plus > p {width:100%;
           text-align: left; 
           height:auto;
           margin-bottom:3rem;
           font-size:0.9rem;} 

.plus > p:after {content:""; display:block; 
                 width:100%; height:100%;
                 border-bottom:1px solid #6d3900;}



/*img*/                
.iconic_img > ul {width:100%; height:100%;}
.iconic_img > ul > li {width:100%; height:20%; 
                       background-repeat: no-repeat;
                       background-position: center;}

.iconic_img > ul > li:nth-child(1){height:25%;
                                   background-size:55%;
                                   background-image:url("../../../../img/buy/iconic/main_img.png");}

.iconic_img > ul > li:nth-child(2){background-size:35%;
                                   background-image:url("../../../../img/buy/iconic/serve_img_02.png"); }

.iconic_img > ul > li:nth-child(3){background-size:35%;
                                   background-image:url("../../../../img/buy/iconic/serve_img_03.png"); }

.iconic_img > ul > li:nth-child(4){background-size:30%;
                                   background-image:url("../../../../img/buy/iconic/serve_img_01.png"); }

}